<div class="navbar bg-base-100 shadow-sm">
    <div class="flex flex-row flex-1 items-center">
        <img src="Blazor.png" alt="blazor logo" />
        <div>
            <NavLink ActiveClass="text-primary" href="" Match="NavLinkMatch.All" class="font-semibold ml-6">Home</NavLink>
            <NavLink ActiveClass="text-primary" href="counter" class="font-semibold ml-4">Counter</NavLink>
            <NavLink ActiveClass="text-primary" href="fetchdata" class="font-semibold ml-4">Fetch data</NavLink>
        </div>
    </div>
    <div class="flex-none">
        <DarkModeToggle />
    </div>
</div>
