<header class="bg-white dark:bg-gray-700 px-10 py-4 shadow-lg flex items-center justify-between">
    <div class="flex items-center">
        <img src="Blazor.png" alt="blazor logo" />

        <nav class="flex ml-10 font-semibold text-gray-600 dark:text-gray-300 text-lg">
            <NavLink ActiveClass="text-purple-800 dark:text-purple-400" href="" Match="NavLinkMatch.All" class="mr-10 font-semibold">Home</NavLink>
            <NavLink ActiveClass="text-purple-800 dark:text-purple-400" href="counter" class="mr-10 font-semibold">Counter</NavLink>
            <NavLink ActiveClass="text-purple-800 dark:text-purple-400" href="fetchdata" class="font-semibold">Fetch data</NavLink>
        </nav>
    </div>
    <div class="flex items-center">
        <DarkModeToggle />
    </div>
</header>
